<head th:replace="fragments/shared/header :: header"></head>

<navbar th:replace="fragments/shared/navbar :: navbar"></navbar>

<main class="container mx-auto mt-8">
  <h1 class="text-3xl font-bold text-center mb-6">Categories</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <div th:each="category : ${categories}" class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition">
      <a th:href="@{/categories/{id}(id=${category.id})}">
        <h2 class="text-xl font-semibold text-gray-800" th:text="${category.name}">Category Name</h2>
        <p th:text="'Created at: ' + ${category.createdAt}"></p>
      </a>
      <!-- <p class="text-gray-600 mt-2" th:text="${category.description}">Category Description</p> -->
    </div>
  </div>
</main>

<footer th:replace="fragments/shared/footer :: footer"></footer>